body {
  margin: 0;
  
  

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #343a40;
}

* {
  font-family: Outfit;
}

.font-size-3em {
  font-size: 3em;
}

.font-size-2em {
  font-size: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
