body {
  margin: 0;
  
  

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #343a40;
}

* {
  font-family: Outfit;
}

.font-size-3em {
  font-size: 3em;
}

.font-size-2em {
  font-size: 2em;
}

.font-size-1-5em {
  font-size: 1.5em;
}

.font-size-0-5em {
  font-size: 0.7em;
}

.default-component {
  background-color: #282c34;
  padding: 0px;
}

.default-component-card {
  padding:5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border-tests-red {
  border-style: solid;
  border-color: red;
}

.border-tests-blue {
  border-style: solid;
  border-color: blue;
}
